<%- include('partials/header', { title: `${student.name} ${student.surname}` })%>

<div class="main-container">
    <% if (student) { %>

            <form action="/delete-student" method="POST">
                <button type="submit">Remove student</button>
                <input type="hidden" name="studentId" value="<%= student.id %>" />
            </form>

            <a href="/edit-student/<%= student.id %>">Edit student</a>

            <h1>Student page</h1>

            <h2><%= student.name %> <%= student.surname %></h2>
            <p>Age: <%= student.age %></p>
            <p>Id: <%= student.id %></p>

            <div>
                <h3>Interests:</h3>
                <ul>
                    <% student.interests.forEach(function(interest) { %>
                        <li><%= interest %></li>
                    <% }); %>
                </ul>
            </div>

            <a href="/students">Back to students list</a>
        </div>
    <% } else { %>
        <h1>Student not found</h1>
        <p>Student with id: <%= id %> was not found</p>
        <a href="/students">Back to students list</a>
    <% } %>
</div>

<%- include('partials/footer')%>